@model HR.Web.ViewModels.BranchVm
@section Styles{
    <style type="text/css">
        .icheckbox_flat {
            margin-top: -23px;
        }
    </style>
}
@using (Html.BeginForm("AddBranch", "Administration", FormMethod.Post, new
{ id = "frmBranch", name = "frmBranch", enctype = "multipart/form-data" })) { 
<div class="page">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                @{Html.RenderPartial("_TreeView", Model.companyTreeVm); }
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-hovered panel-stacked mb10">
                        <div class="panel-heading">Branch</div>

                        <div class="panel-body">
                            <div class="row css5">
                                @Html.HiddenFor(x => x.branch.BranchID)
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Branch Code</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.branch.BranchCode, new { @class = "form-control" })
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Branch Name</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.branch.BranchName, new { @class = "form-control" })
                                    </div>                      
                                </div>
                            </div>
                            <div class="row css5">
                                <div class="form-group">
                                   
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Registration No</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.branch.RegNo, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @{Html.RenderPartial("_Address", Model.address);}
                </div>
            </div>
        </div>
    </div>
    

    

    <div class="row">
        <div class="col-md-12">
            <div>
                <button class="btn btn-primary btn-sm" type="button" onclick="SaveBranch()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
            </div>
        </div>
    </div>
</div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#li_Admin').addClass('open');
            $('#li_company').addClass('active');
        });
            $('#frmBranch').validate({
                rules: {
                    'branch.BranchCode': {
                        required:true
                    },
                    'branch.BranchName': {
                        required: true
                    },
                    'branch.RegNo': {
                        required: true
                    },
                    //'company.InCorporationDate': {
                    //    required: true
                    //},
                    'Address1': {
                        required: true
                    },
                    'CityName': {
                        required: true
                    },
                    'StateName': {
                        required: true
                    },
                    'CountryCode': {
                        required: true
                    },
                    'TelNo': {
                        required: true
                    },
                    'FaxNo': {
                        required: true
                    },
                    'MobileNo': {
                        required: true
                    },
                    'Contact': {
                        required: true
                    },
                    'Email': {
                        'email':true,
                        required: true
                    },
                }
            });
       
        function SaveBranch()
        {
            if ($('#frmBranch').valid()) {
                $('#frmBranch').submit()
            }

        }
    </script>
}
