
<div class="container">
    <div id="treeview1" class=""></div>

</div>

<link href="@Url.Content("~/Scripts/treeview/bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/treeview/jquery.js")"></script>
<script src="@Url.Content("~/Scripts/treeview/bootstrap-treeview.js")"></script>

<script type="text/javascript">
    $(function () {
        var defaultData = [
      {
          text: 'Parent 1',
          href: '#parent1',
          //tags: ['2'],
          nodes: [
            {
                text: 'Child 1',
                href: '#child1',
                // tags: ['2'],
                nodes: [
                  {
                      text: 'Grandchild 1',
                      href: '#grandchild1',
                      //tags: ['0']
                  },
                  {
                      text: 'Grandchild 2',
                      href: '#grandchild2',
                      // tags: ['0']
                  }
                ]
            },
            {
                text: 'Child 2',
                href: '#child2',
                // tags: ['0']
            }
          ]
      }
        ];

        $('#treeview1').treeview({
            color: "#428bca",
            //expandIcon: 'glyphicon glyphicon-chevron-right',
            //collapseIcon: 'glyphicon glyphicon-chevron-down',
            //nodeIcon: 'glyphicon glyphicon-bookmark',
            data: defaultData
        });
    })
</script>
