
@{
    ViewBag.Title = "Error";
}

<h2>Please contact administrator</h2>

<div class="page">
    <div class="panel panel-default panel-hovered panel-stacked mb10">
        <div class="panel-heading">
           You do not have reporting manager for support please contact administrator..
       
            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Content("~/Dashboard/Index")'">Back</button>
        </div>
    </div>
    
</div>
