

<div class="page">
    <div class="panel">
        <div class="panel-heading">
            Error Page
        </div>
        <div class="panel-body">
            <div style="padding:20px;">
                <h3>
                    Application Error:
                </h3>
                <h4>
                    Sorry, The Page, You are Looking for is not found.
                </h4>
                <button onclick="location.href='@Url.Content("~/Account/Login")'">Back to Login</button>
                <br />
                <br />
            </div>

        </div>
    </div>
  </div>



    

