@{
    ViewBag.Title = "NotFound";
}

<div class="page">
    <div class="panel panel-default panel-hovered panel-stacked mb10">
        <div class="panel-heading">
            Sorry, Something Error has happened while processing.
            Please click the button to continue.

            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Content("~/Dashboard/Index")'">Back to DashBoard</button>
        </div>
        @*ViewBag.Msg*@
    </div>

</div>