@using Newtonsoft.Json;
@model HR.Web.ViewModels.DashBoardVm
@{
    ViewBag.Title = "admindashboard";
}

@section Styles{
    <style type="text/css">
        .page-dashboard .mini-box .icon {
            margin-top: -15px;
            font-size: 43.2px;
        }
		.highcharts-credits {
			visibility:hidden !important
		}
		.highcharts-legend {
			visibility: hidden !important
		}
		/*.highcharts-label {
			visibility: hidden !important
		}*/
    </style>
}


<div class="page page-dashboard">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default mb20 mini-box panel-hovered">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="info left">
                            @*<h3 class="mt0 text-primary text-bold"></h3>*@
							<h3 class="text-light mb0">Total Employees @Model.EmployeeCount</h3>
                        </div>
                        <div class="right ion ion-ios-people-outline icon"></div>
                    </div>
                </div>
                @*<div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                    <p class="mt0 mb0 left">*@
                        @*<a class="ajaxCss" style="color:white;" href="@Url.Content("~/Employee/employeedirectory")">Employees</a>*@
                    @*</p>*@
                    @*<span class="sparkline right" data-type="bar" data-barcolor="#fff" data-width="1.15em" data-height="1.15em"><canvas style="display: inline-block; width: 34px; height: 14px; vertical-align: top;" width="34" height="14"></canvas></span>*@
                @*</div>*@
            </div>
        </div>
    </div>
    <div class="row css10">
        <div class="col-md-6">
            <div id="container"></div>
        </div>
        <div class="col-md-6">
            <div id="gendercontainer"></div>
        </div>
    </div>
    <div class="row css10">

    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        var dataArray = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.lineChartData))');

        var xAxisData = new Array();
        var yAxisData = new Array();

        for (var i = 0; i < dataArray.length; i++) {
            xAxisData.push(dataArray[i].Month);
            yAxisData.push(dataArray[i].Count);
        }


        Highcharts.chart('container', {
            title: {
                text: 'Employee Birthday Month'
            },
            xAxis: {
                categories: xAxisData
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            //legend: {
            //    layout: 'vertical',
            //    align: 'right',
            //    verticalAlign: 'middle'
            //},
            series: [{
                name: 'Employee Count',
                data: yAxisData
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });

        /*Gender Count*/
        var arrayByGender = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.employeeDataVm))');
        debugger;
        var arr = new Array();
        arr = arrayByGender.genderCount;
        Highcharts.chart('gendercontainer', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
            },
            "colors": [
       "#2f6e91",
       "#ff9332",
       "#6a2329",
       "#092f46",
       "#d95c1f",
       "#33765e",
       "#845285",
       "#70bde8",
       "#12484f",
       "#4d3d5a"],
            title: {
                text: 'Gender Ratio'
            },
            //tooltip: {
            //    pointFormat: '{series.name}: <b>{point.percentage:.1f}% </b> <br> Count: {point.custom}'
            //},
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' + '<b>' + this.point.name + '</b> is <b>' + this.point.custom + '</b>';
                }
            },

            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',

                    }
                }
            },
            series: [{
                name: arrayByGender.branchName,
                colorByPoint: true,
                data: arrayByGender.genderCount
            }]
        });

        $(function () {
            $('#li_Dashboard').addClass('active');
        });
    </script>
}


