@using Newtonsoft.Json;
@model List<HR.Web.ViewModels.EmployeeDataVm>

@section Styles {
    <style>
        .highcharts-credits {
            display: none;
        }

        .highcharts-data-label-connector {
            display: none;
        }
  
        .spanboxNumber {
            position: absolute;
            right: 205px;
            width: 3px;
            border: 5px solid #337ef7;
            padding: 3px;
            border-radius: 50%;
            background-color: #337ef7;
        }

        .spanboxNumber2 {
            position: absolute;
            right: 105px;
            width: 3px;
            border: 5px solid #ff66b3;
            padding: 3px;
            border-radius: 50%;
            background-color: #ff66b3;
        }

        .spanClass {
            position: absolute;
            padding-left: 20px;
            line-height: 2px;
        }



        .col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-1-5 {
            width: 20%;
            float: left;
        }

        @@media (min-width: 768px) {
            .col-sm-1-5 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 992px) {
            .col-md-1-5 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 1200px) {
            .col-lg-1-5 {
                width: 20%;
                float: left;
            }
        }

        .col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5,
        .col-xs-2-5, .col-sm-2-5, .col-md-2-5, .col-lg-2-5,
        .col-xs-3-5, .col-sm-3-5, .col-md-3-5, .col-lg-3-5,
        .col-xs-4-5, .col-sm-4-5, .col-md-4-5, .col-lg-4-5 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-1-5 {
            width: 20%;
            float: left;
        }

        .col-xs-2-5 {
            width: 40%;
            float: left;
        }

        .col-xs-3-5 {
            width: 60%;
            float: left;
        }

        .col-xs-4-5 {
            width: 80%;
            float: left;
        }

        @@media (min-width: 768px) {
            .col-sm-1-5 {
                width: 20%;
                float: left;
            }

            col-sm-2-5 {
                width: 40%;
                float: left;
            }

            col-sm-3-5 {
                width: 60%;
                float: left;
            }

            col-sm-4-5 {
                width: 80%;
                float: left;
            }
        }

        @@media (min-width: 992px) {
            .col-md-1-5 {
                width: 20%;
                float: left;
            }

            .col-md-2-5 {
                width: 40%;
                float: left;
            }

            .col-md-3-5 {
                width: 60%;
                float: left;
            }

            .col-md-4-5 {
                width: 80%;
                float: left;
            }
        }

        @@media (min-width: 1200px) {
            .col-lg-1-5 {
                width: 20%;
                float: left;
            }

            .col-lg-2-5 {
                width: 40%;
                float: left;
            }

            .col-lg-3-5 {
                width: 60%;
                float: left;
            }

            .col-lg-4-5 {
                width: 80%;
                float: left;
            }
        }
        .box-border{
            border:2px solid #ccc;
            margin:20px;
        }
    </style>
}
<div class="page">
    <div class="">
        <div class="panel panel-default panel-hovered panel-stacked mb10">

            <div class="row">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <div class="col-md-6">
                        <div class="box-border">
                        <div id="container_@i" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                            
                        
</div>
                }
            </div>
        </div>

    </div>
</div>

@section scripts
    {
  
    <script type="text/javascript">
        var arrayByGender = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');

        for (var i = 0; i < arrayByGender.length; i++) {
            debugger;
            Highcharts.chart('container_' + i, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                },
                "colors": [
           "#2f6e91",
           "#ff9332",
           "#6a2329",
           "#092f46",
           "#d95c1f",
           "#33765e",
           "#845285",
           "#70bde8",
           "#12484f",
           "#4d3d5a"],
                title: {
                    text: arrayByGender[i].branchName
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Count: {point.custom}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',

                        }
                    }
                },
                series: [{
                    name: arrayByGender[i].branchName,
                    colorByPoint: true,
                    data: arrayByGender[i].genderCount
                }]
            });

        }

        $(function () {
            $('#li_Dashboard').addClass('open');
            $('#li_Dashboard').addClass('active');
        });
    </script>
}