@model HR.Web.Models.User

    <div class="modal-body">
        <div class="row">
            @ViewData["message"]
            <div class="form-group">
                <label class="col-md-4 control-label">
                    <span class="pull-right">Old Password</span>
                </label>
                <div class="col-md-8">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control input-sm", required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-4 control-label">
                    <span class="pull-right">New Password</span>
                </label>
                <div class="col-md-8">
                    @Html.Password("NewPassword", "", new { @class = "form-control input-sm", @Value = "", id = "newPassword", required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-4 control-label">
                    <span class="pull-right">Confirm Password</span>
                </label>
                <div class="col-md-8">
                    @Html.Password("ConfirmPassword", "", new { @class = "form-control input-sm", @Value = "", id = "confirmPassword", required = "required" })
                </div>
            </div>
        </div>
    </div>

