<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="appTableOffSet" value="10" />
     <add key="CASUALLEAVE_10013" value="2623" />
    <add key="SICKLEAVE_10013" value="2624" />
    <add key="PAIDLEAVE_10013" value="2625" />
    <add key="CASUALLEAVE_10015" value="2626" />
    <add key="SICKLEAVE_10015" value="2627" />
    <add key="PAIDLEAVE_10015" value="2628" />
    <add key="CASUALLEAVE_10014" value="2629" />
    <add key="SICKLEAVE_10014" value="2630" />
    <add key="PAIDLEAVE_10014" value="2631" />
    <add key="PAIDLEAVE_10001" value="2551" />
    <add key="SICKLEAVE_10001" value="2552" />
    <add key="SICKLEAVE_10002" value="2553" />
    <add key="PAIDLEAVE_10002" value="2554" />
    <add key="CASUALLEAVE_10002" value="2555" />
    <add key="SICKLEAVE_10003" value="2556" />
    <add key="PAIDLEAVE_10003" value="2557" />
    <add key="CASUALLEAVE_10003" value="2558" />
    <add key="SICKLEAVE_10004" value="2559" />
    <add key="PAIDLEAVE_10004" value="2560" />
    <add key="CASUALLEAVE_10004" value="2561" />
    <add key="PAIDLEAVE_10005" value="2562" />
    <add key="SICKLEAVE_10005" value="2563" />
    <add key="CASUALLEAVE_10005" value="2564" />
    <add key="PAIDLEAVE_10006" value="2565" />
    <add key="SICKLEAVE_10006" value="2566" />
    <add key="CASUALLEAVE_10006" value="2567" />
    <add key="PAIDLEAVE_10007" value="2568" />
    <add key="SICKLEAVE_10007" value="2569" />
    <add key="CASUALLEAVE_10007" value="2570" />
    <add key="CASUALLEAVE_10008" value="2571" />
    <add key="SICKLEAVE_10008" value="2572" />
    <add key="PAIDLEAVE_10008" value="2573" />
    <add key="CASUALLEAVE_10009" value="2574" />
    <add key="PAIDLEAVE_10009" value="2575" />
    <add key="SICKLEAVE_10009" value="2576" />
    <add key="PAIDLEAVE_10012" value="2577" />
    <add key="SICKLEAVE_10012" value="2578" />
    <add key="CASUALLEAVE_10012" value="2579" />
    <add key="CASUALLEAVE_10001" value="2550" />
  </appSettings>
  <system.web>
    <globalization uiCulture="en" culture="en-GB" enableClientBasedCulture="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="1800"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <!--<customErrors mode="On" >
    </customErrors>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <!--<add name="HrDataContext" connectionString="metadata=res://*/Models.HrEntity.csdl|res://*/Models.HrEntity.ssdl|res://*/Models.HrEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5036.site4now.net;persist security info=True;user id=DB_9F30C5_HRPRO_admin;password=n0ki@3310;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HrDataContext" connectionString="metadata=res://*/Models.HrEntity.csdl|res://*/Models.HrEntity.ssdl|res://*/Models.HrEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5036.site4now.net;persist security info=True;user id=DB_9F30C5_HRDB_admin;password=n0ki@3310;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HrDataContext" connectionString="metadata=res://*/Models.HrEntity.csdl|res://*/Models.HrEntity.ssdl|res://*/Models.HrEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIJAY-PC\SQLEXPRESS16;Initial Catalog=DB_9F30C5_HRDB;persist security info=True;user id=sa;password=manager;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 <!--<add name="HrDataContext" connectionString="metadata=res://*/Models.HrEntity.csdl|res://*/Models.HrEntity.ssdl|res://*/Models.HrEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5036.site4now.net;initial catalog=DB_9F30C5_HRDB;persist security info=True;user id=DB_9F30C5_HRDB_admin;password=n0ki@3310;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="HrDataContext" connectionString="metadata=res://*/Models.HrEntity.csdl|res://*/Models.HrEntity.ssdl|res://*/Models.HrEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5039.site4now.net;persist security info=True;user id=DB_9F30C5_HRDBTEST_admin;password=n0ki@3310;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="HrDataContext" connectionString="metadata=res://*/Models.HrEntity.csdl|res://*/Models.HrEntity.ssdl|res://*/Models.HrEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5039.site4now.net;initial catalog=DB_9F30C5_HRTH;persist security info=True;user id=DB_9F30C5_HRTH_admin;password=n0ki@3310;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HrDataContext" connectionString="metadata=res://*/Models.HrEntity.csdl|res://*/Models.HrEntity.ssdl|res://*/Models.HrEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LG80B96\LGIDEV01;Initial Catalog=HRMS;persist security info=True;user id=sa;password=M@nager;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>