@model IEnumerable<HR.Web.ViewModels.AppliedLeaveListVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="panel-group" id="accordionDemo">
                    <div class="panel panel-default ng-isolate-scope">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse" data-toggle="collapse" class="accordion-toggle" data-parent="#accordionDemo"><b></b></a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse">
                            <div class="panel-body">
                                <div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>EmployeeId</th>
                                                <th>From Date</th>
                                                <th>To Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>



