
@using (Html.BeginForm("SaveEmployeeLeaveRequest", "Leave", FormMethod.Post, new { id = "frmLeave", name = "frmLeave" }))
{
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default  panel-hovered panel-stacked mb10">
                    <div class="panel-heading">Employee Leave Request Form</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">icon ion-thumbsup
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">ID Type</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
   
























