@model IEnumerable<HR.Web.ViewModels.AppliedLeaveListVm >
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="panel-group" id="accordionDemo">
                 <div class="panel panel-default ng-isolate-scope">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse" data-toggle="collapse" class="accordion-toggle" data-parent="#accordionDemo"><b>Leave List</b></a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>EmployeeId</th>
                                                <th>FromDate</th>
                                                <th>ToDate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for (var i = 0; i < Model.Count(); i++)
                                        {

                                            foreach( var item in Model.ElementAt(i).employeeLeaveList)
                                            {
                                                <tr>
                                                    <td>item.EmployeeId</td>
                                                    <td>item.FromDate</td>
                                                    <td>item.ToDate</td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {

            $('#li_Leave').addClass('open');
            $('#li_appliedleavelist').addClass('active');
        });
    </script>
}






