
<div class="page">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10">
                <div class="panel-heading">
                    Holiday List
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-primary" type="button" onclick="AddHoliday(-1)">Add Holiday</button>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                   
    
    @using (Html.BeginForm("SaveHoliday", "Leave", FormMethod.Post, new { id = "holidayfrm", name = "holidayfrm" }))
    {
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Holiday</h4>
                    </div>
                    <div class="modal-body" id="modalContent">

                    </div>
                    <div class="modal-footer">
                        <button id="btnsave" type="button" onclick="SaveChanges()" class="btn btn-info btn-raised">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>

            </div>
        </div>
    }
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#li_Leave').addClass('open');
            $('#li_holidaylist').addClass('active');
        });

        function AddHoliday(holidayId) {
            $.ajax({
                url: '@Url.Content("~/Leave/GetHolidayList?holidayId=")' + holidayId,
                contentType: 'text/html',
                method: 'GET',
                success: function (data) {
                    debugger
                    $('#myModal').modal('show');
                    $('#modalContent').html('');
                    $('#modalContent').html(data);
                }
            });
        }
        function SaveChanges() {
            if ($('#holidayfrm').valid()) {
                var dt = $('#Dt').find('input').val();
                $('#Date').val(dt);
                $('#holidayfrm').submit();
            }
        }
        $('#holidayfrm').validate({
            rules: {
                Date: {
                    required: true,
                },
                Description: {
                    required: true,
                    maxlength:20
                },
                CountryId: {
                    required:true
                }
            }
        });

      


    </script>
  }  
