@using Newtonsoft.Json;

@model HR.Web.ViewModels.holidayVm

@section Styles{

    <link href="@Url.Content("~/Css/fullcalendar.css")" rel="stylesheet" />
    <style>
        .fc-time {
            display: none;
        }
    </style>
}




<div class="page">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10">
                <div class="panel-heading">
                    Holiday List
                </div>
                <div class="panel-body">
                    @if (ViewData["RoleCode"].ToString() != UTILITY.ROLE_EMPLOYEE)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" onclick="AddHoliday(-1)" class="btn btn-info btn-raised waves-effect btn-sm"><i class="fa fa-plus"></i>Add</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Calendar page -->
                            <div class="page page-app-calendar">

                                <div class="page-wrap">
                                    <div class="calendar-toolbar mb20 text-center">
                                        <div class="btn-group btn-group-sm left">
                                            <button type="button" class="btn btn-default ion ion-arrow-left-c prev-btn"></button>
                                            <button type="button" class="btn btn-default ion ion-arrow-right-c next-btn"></button>
                                        </div>
                                        <button type="button" class="btn btn-default btn-sm ml15 left today-btn">Today</button>
                                        <strong class="text-uppercase current-date"></strong>
                                        @*<div class="btn-group btn-group-sm right">
                                                <button type="button" class="btn btn-default view-month">Month</button>
                                                <button type="button" class="btn btn-default view-week">Week</button>
                                                <button type="button" class="btn btn-default view-day">Day</button>
                                            </div>*@
                                    </div>
                                    <!-- calendar -->
                                    <div id="fullCalendar" style="z-index:9;"></div>


                                </div><!-- #end page-wrap -->
                            </div>
                            <!-- #end calendar page -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@using (Html.BeginForm("SaveHoliday", "Leave", FormMethod.Post, new { id = "holidayfrm", name = "holidayfrm" }))
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Holiday</h4>
                </div>
                <div class="modal-body" id="modalContent">
                    @{
                        Html.RenderPartial("GetHolidayList", Model.HolidayList);
                    }
                </div>
                <div class="modal-footer">
                    <button id="btnsave" type="button" onclick="SaveChanges()" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i>Create</button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                </div>
            </div>

        </div>
    </div>
                        }

@section Scripts{
    <script src="@Url.Content("~/Scripts/Core/fullcalendar.min.js")"></script>


    <script type="text/javascript">
        var obj = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.calendarVM))');
        $(function () {

            $('#li_Leave').addClass('open');
            $('#li_holidaylist').addClass('active');

            @if (Model.HolidayList!=null && Model.HolidayList.HolidayId != 0) {
                <text>
            $('#myModal').modal('show');
            </text>
            }
        });

        function AddHoliday(holidayId) {
            debugger;
            //$('#Description').val('');
            //$('#Date').val('');
            //$('#CountryId').val('');
            //$('#myModal').modal('show');
            $.ajax({
                url: '@Url.Content("~/Leave/GetHolidayList?holidayId=")' + holidayId,
                contentType: 'text/html',
                method: 'GET',
                success: function (data) {
                    $('#myModal').modal('show');
                    $('#modalContent').html('');
                    $('#modalContent').html(data);
                }
            });
        }
        function SaveChanges() {
            if ($('#holidayfrm').valid()) {
                var dt = $('#Dt').find('input').val();
                $('#Date').val(dt);
                $('#holidayfrm').submit();
            }
        }
        $('#holidayfrm').validate({
            rules: {
                Date: {
                    required: true,
                },
                Description: {
                    required: true,
                    maxlength: 20
                },
                CountryId: {
                    required: true
                }
            }
        });


    </script>

    <script src="~/Scripts/Core/calendar.init.js"></script>
}
