@section Styles{    

<link href="~/Css/waves.css" rel="stylesheet" />
<link href="~/Css/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/Css/Calendar.css" rel="stylesheet" />
<link href="~/Css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Css/main.min.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>

}


<div class="content-container" id="content">
    <!-- Calendar page -->
    <div class="page page-app-calendar">

        <ol class="breadcrumb breadcrumb-small">
            <li>Apps</li>
            <li class="active"><a href="calendar.html">Calendar</a></li>
        </ol>


        <div class="page-wrap">

            <!-- row -->
            <div class="row">
                <div class="col-sm-9">
                    <!-- calendar toolbar, this will replaced default toolbar -->
                    <div class="calendar-toolbar mb20 text-center">
                        <div class="btn-group btn-group-sm left">
                            <button type="button" class="btn btn-default ion ion-arrow-left-c prev-btn"></button>
                            <button type="button" class="btn btn-default ion ion-arrow-right-c next-btn"></button>
                        </div>
                        <button type="button" class="btn btn-default btn-sm ml15 left today-btn">today</button>
                        <strong class="text-uppercase current-date"></strong>
                        <div class="btn-group btn-group-sm right">
                            <button type="button" class="btn btn-default view-month">Month</button>
                            <button type="button" class="btn btn-default view-week">Week</button>
                            <button type="button" class="btn btn-default view-day">Day</button>
                        </div>
                    </div>
                    <!-- calendar -->
                    <div id="fullCalendar"></div>
                </div>

                <div class="col-sm-3">
                    <button type="button" class="btn btn-pink btn-icon-inline btn-sm mb15 addEventBtn">
                        <i class="ion ion-plus"></i>
                        Add Event
                    </button>
                    <ul class="calevents list-unstyled" id="calevents">
                        <!-- <li>
                            <input class="event-name">
                            <div class="event-date">{{event.humanDate}}</div>
                            <div class="event-remove-icon ion ion-trash-a"></div>
                        </li> -->
                    </ul>
                </div>
            </div> <!-- #end row -->

        </div> <!-- #end page-wrap -->
    </div>
    <!-- #end calendar page -->
</div>




<div class="page">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10">
                <div class="panel-heading">
                    Holiday List
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" onclick="AddHoliday(-1)" class="btn btn-info btn-raised waves-effect btn-sm"><i class="fa fa-plus"></i>Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="calendar"></div>
                        </div>
                    </div> 
                </div>                
            </div>
        </div>
    </div>
</div>
    



@using (Html.BeginForm("SaveHoliday", "Leave", FormMethod.Post, new { id = "holidayfrm", name = "holidayfrm" }))
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Holiday</h4>
                </div>
                <div class="modal-body" id="modalContent">

                </div>
                <div class="modal-footer">
                    <button id="btnsave" type="button" onclick="SaveChanges()" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i>Save</button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    
   
<script src="~/Scripts/Core/fullcalendar.min.js"></script>
<script src="~/Scripts/Core/waves.min.js"></script>
<script src="~/Scripts/Core/app.js"></script>
<script src="~/Scripts/Core/calendar.init.js"></script>
    <script type="text/javascript">
    
        $(function () {
            $('#li_Leave').addClass('open');
            $('#li_holidaylist').addClass('active');
        });

        function AddHoliday(holidayId) {
           
            $.ajax({
                url: '@Url.Content("~/Leave/GetHolidayList?holidayId=")' + holidayId,
                contentType: 'text/html',
                method: 'GET',
                success: function (data) {
                    $('#myModal').modal('show');
                    $('#modalContent').html('');
                    $('#modalContent').html(data);
                }
            });
        }
        function SaveChanges() {
            if ($('#holidayfrm').valid()) {
                var dt = $('#Dt').find('input').val();
                $('#Date').val(dt);
                $('#holidayfrm').submit();
            }
        }
        $('#holidayfrm').validate({
            rules: {
                Date: {
                    required: true,
                },
                Description: {
                    required: true,
                    maxlength: 20
                },
                CountryId: {
                    required: true
                }
            }
        });

        
    </script>
}
