
@model List<HR.Web.ViewModels.LeavepolicyVm>


@section Styles {
    <style type="text/css">
        .popover-content{
              height:300px;
              overflow-y:scroll;
        }
        .width{
            width:50%;
        }
    </style>
}
<div class="page" style="min-height:1000px;">
    <div class="page-wrap">
        <div class="panel panel-default">
                <div class="box" id="grid">
                    <div class="center-block width">
                        <div class="panel-heading">
                            <h4>Leave Policy List </h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                              
                                    <button class="btn btn-primary btn-raised waves-effect btn-sm ajaxCss pull-right"
                                            type="button" onclick="location.href='@Url.Content("~/Leave/Leave")'">
                                        <i class="fa fa-plus-square"></i> Add
                                    </button>
                                
                            </div>
                            <div class="row" id="tableGrid">
                                
                             
                                    <table class="table table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Country Name</th>
                                                <th>Information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i < Model.Count(); i++)
                                            {
                                                <tr>
                                                    <td>@Model.ElementAt(i).BranchName</td>
                                                    <td>
                                                        @*<button class="btn btn-primary btn-sm" type="button" data-toggle="popover_@(i)" data-trigger="focus" title="Leave Policy"><i class="fa fa-eye"></i>&nbsp;info</button>*@
                                                        <button class="btn btn-primary btn-sm ajaxCss" onclick="location.href='@Url.Content("~/Leave/Leave?leaveId=")+ 0 &branchid=@Model.ElementAt(i).BranchId'"><i class="fa fa-pencil-square"></i>&nbsp;Edit</button>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>

                                    </table>
                                
                            </div>


                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(function () {
        $('#li_Leave').addClass('open');
        $('#li_empdir').addClass('active');
    });
</script>
}