
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="panel-heading">
                    Payslips Batches
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        CODE
                                    </th>
                                    <th>
                                        NAME
                                    </th>
                                    <th>
                                        BASIC
                                    </th>
                                    <th style="white-space:nowrap">
                                        CPF EMPLOYER
                                    </th>
                                    <th>
                                        INCENTIVE
                                    </th>
                                    <th>
                                        BONUS
                                    </th>
                                    <th>
                                        CPF EMPLOYEE
                                    </th>
                                    <th>
                                        MBMF
                                    </th>
                                    <th>
                                        SINDA
                                    </th>
                                    <th>
                                        CDAC
                                    </th>
                                    <th style="white-space:nowrap">
                                        CPF DEDUCTIONS
                                    </th>
                                    <th>
                                        ETC
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        EZYPR0001
                                    </td>
                                    <td>
                                        MRUNAL
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        15.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        EZYPR0002
                                    </td>
                                    <td>
                                        SHARFAZ
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        15.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EZYPR0003
                                    </td>
                                    <td>
                                        KAVITHA
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        15.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EZYPR0004
                                    </td>
                                    <td>
                                        SUBRAMANIAM
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        15.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EZYPR0005
                                    </td>
                                    <td>
                                        SYED TALEEB
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        15.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1500.00
                                    </td>
                                    <td>
                                        500.00
                                    </td>
                                    <td>
                                        17.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                    <td>
                                        1000.00
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
