@model.HR.Web.Models.TaxAssessmentHeader

<div class="page" style="overflow:visible;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10" style="min-height:800px;">
                <div class="panel-heading">
                    Tax Assessment Calculations
                </div>
                @*<div class="panel-body">
                    <div class="row css5">
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Tax Assessment No.</span>
                        </label>
                        <div class="col-md-3">
                            
                        </div>
                        <label class="col-md-1 control-label">
                            <span class="pull-right">Year</span>
                        </label>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="row css5">

                        <label class="col-md-2 control-label">
                            <span class="pull-right">Social Security Contribution</span>
                        </label>
                        <div class="col-md-3">

                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Max. Amount</span>
                        </label>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="row css5">

                        <label class="col-md-2 control-label">
                            <span class="pull-right">Salary From</span>
                        </label>
                        <div class="col-md-3">

                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Salary To</span>
                        </label>
                        <div class="col-md-3">

                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Rate</span>
                        </label>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-sm btn-primary" id="button-btn" onclick=""><b>Save</b></button>                            
                        </div>
                    </div>


                </div>*@
        </div>
    </div>
        </div>
    </div>



