@model IEnumerable<HR.Web.Models.LookUp>

@{
    ViewBag.Title = "EmployeeType";
}
@{ 
    WebGrid grid = new WebGrid(Model);
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box">
                <div class="box-header">
                    <h4>Employee Type</h4>
                    <div class="box-tools">
                        <button class="btn btn-default waves-effect"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="box-body">
                    @grid.GetHtml(
                columns: grid.Columns(
                grid.Column("LookUpCategory", "Employee Type Name"),
                grid.Column("LookUpDescription", "Employee Type Description"),
                grid.Column("IsActive", "Status"),
                grid.Column("", "#Action", canSort: false, format: @<text><button class="btn btn-default waves-effect" onclick="editEmpType(@item.LookUpID)"><i class="fa fa-pencil"></i>&nbsp;Edit</button></text>)),
                tableStyle: "table")
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">       
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function editEmpType(lookupID) {
            $('#myModal').modal('show');
        }
    </script>
}





        




 


