@model HR.Web.Models.LookUp
<div class="row">
    @Html.HiddenFor(x => x.LookUpID)
    @*@Html.HiddenFor(x => x.IsActive)*@
    <div class="form-group">
        <label class="col-md-4 control-label">
            <span class="pull-right">Type</span>
        </label>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.LookUpCode,
            new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row css10">
    <div class="form-group">
        <label class="col-md-4 control-label">
            <span class="pull-right"> Description</span>
        </label>
        <div class="col-md-8">
            @Html.TextAreaFor(x => x.LookUpDescription,
            new { @class = "form-control" })
        </div>
    </div>
</div>

   


