@model IEnumerable<HR.Web.ViewModels.EmployeeListVm>

@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10, ajaxUpdateContainerId: "grid");    
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Employee List</h4>
                    <div class="box-tools">
                        <button class="btn btn-info btn-raised waves-effect" type="button" onclick="location.href = '@Url.Content("~/Employee/add?EmployeeId=")'"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            @grid.GetHtml(
                                columns: grid.Columns(
                                grid.Column("EmployeeNo", "Employee No", canSort: true),
                                grid.Column("EmployeeName", "Employee Name", canSort: true),                                
                                grid.Column("JobTitle", "Job Title", canSort: true),                                
                                grid.Column("OfficialEmailId", "Official Email", canSort: true),                                
                                grid.Column("", "#Action", canSort: false, format: @<text><button class="btn btn-xs btn-raised waves-effect" onclick="location.href = '@Url.Content("~/Employee/add?EmployeeId=" + item.EmployeeId)'" style="padding-left: 5px;margin-left: 6px;"><i class="fa fa-pencil" style="padding-left: 5px;"></i></button></text>)),
                                tableStyle: "table table-condensed")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
