<div class="page">
    <div class="page-wrap">
            <div class="panel-group" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Contribution register
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label></label>
                            </div>

                        </div>

                    </div>
                </div>
     </div>
  </div>
</div>
  
