


<div class="page">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default panel-hovered panel-stacked mb30">
                <div class="panel-heading">Employee Information</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Join Date:</span>
                            </label>
                            <div class="col-md-4">
                                @*@Html.TextBoxFor(x => x.empHeader.FirstName,
                                    new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Designation:</span>
                            </label>
                            <div class="col-md-4">
                                @*@Html.TextBoxFor(x => x.empHeader.FirstName,
                                    new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Experience:</span>
                            </label>
                            <div class="col-md-4">
                                @*@Html.TextBoxFor(x => x.empHeader.FirstName,
                                    new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Department:</span>
                            </label>
                            <div class="col-md-4">
                                @*@Html.TextBoxFor(x => x.empHeader.FirstName,
                                    new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-md-6">
            <div class="panel panel-default panel-hovered panel-stacked mb30">
                <div class="panel-heading">Salary</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Salary Item</th>
                                        <th>Current Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>FULL Basic</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>FULL HRA</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>FULL CONVEYANCE</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>FULL DA</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>FULL SPECIAL ALLOWANCE</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>MONTHLY CTC</td>
                                        <td></td>
                                    <tr>
                                        <td>ANNUAL CTC</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>MEDICAL MONTHLY ENTITLEMENT</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Effective From</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date dtCss" id="datepickerDemo">
                                    @*@Html.TextBoxFor(x => x.empPersonalDetail.DOB, new { @class = "form-control" })*@
                                    <input class="form-control dtCssTxt" , required="required" />
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>
                            </div>

                            <label class="col-md-2 control-label">
                                <span class="pull-right">Payout Month</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date dtCss" id="datepickerDemo">
                                    @*@Html.TextBoxFor(x => x.empPersonalDetail.DOB, new { @class = "form-control" })*@
                                    <input class="form-control dtCssTxt" , required="required" />
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Remarks</span>
                                </label>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3 text-right">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="SaveSalary()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#li_Payroll').addClass('open');
            $('#li_payrollinfo').addClass('active');
        });


        $('.dtCss').datetimepicker({
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-arrow-left',
                next: 'fa fa-arrow-right'
            },
            format: dateFormat
        });
    </script>
}
