
@{
    ViewBag.Title = "ProcessTravelClaim";
}

<h2>ProcessTravelClaim</h2>

@using (Html.BeginForm("ProcessTravelClaim", "PayRoll", FormMethod.Get,
                new { id = "frmProcessTravelClaim", name = "frmProcessTravelClaim" }))
{
    <div class="page">
        <div class="page-wrap">
            <div class="panel panel-default panel-hovered panel-stacked mb10">
               
                    <div class="panel-heading">
                        Process Travel Claim
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered" style="margin-top:10px">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="white-space:nowrap">Employee Name</th>
                                    <th style="white-space:nowrap">From Date</th>
                                    <th>To Date</th>
                                    <th>Gross Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        REUBEN
                                    </td>
                                    <td>
                                        10/02/2018
                                    </td>
                                    <td>
                                        07/02/2018
                                    </td>
                                    <td>
                                        100000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        JOHN
                                    </td>
                                    <td>
                                        15/02/2018
                                    </td>
                                    <td>
                                        07/02/2018
                                    </td>
                                    <td>
                                        75000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        PETER
                                    </td>
                                    <td>
                                        12/02/2018
                                    </td>
                                    <td>
                                        07/02/2018
                                    </td>
                                    <td>
                                        50000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        ALEX
                                    </td>
                                    <td>
                                        07/02/2018
                                    </td>
                                    <td>
                                        20/02/2018
                                    </td>
                                    <td>
                                        20000.00
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fa fa-floppy-o"></i>
                            Approve
                        </button>
                    </div>
                   
                </div>
            </div>
        </div>
  
}