<div class="page">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10">
                <div class="panel-heading">
                    Basic
                </div>
                <div class="panel-body">
                    <div class="row css5">
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Name</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" />
                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Reference</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row css5">
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Parent</span>
                        </label>
                        <div class="col-md-4">
                            <select class="form-control">
                                <option>Select</option>
                                <option value="1">Base Structure1</option>
                                <option value="2">Base Structure2</option>
                            </select>
                        </div>

                    </div>
                    <br />
                    <br />
                    <div class="clearfix">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-home" data-toggle="tab" aria-expanded="true">Salary Rules</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-home">
                                <div>
                                    <div>
                                        <a href="#" class="btn btn-sm btn-primary">Add an item </a>
                                    </div>
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Code</th>
                                                <th>Category</th>
                                                <th>Contribution Register</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @*<td>Name</td>
                                                <td>Code</td>
                                                <td>Category</td>
                                                <td>Contribution Register</td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
