<div class="page" style="overflow:visible;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10" style="min-height:800px;">
                <div class="panel-heading">
                    Yearly One
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1">
                            @Html.DropDownList("Year", SelectListItemHelper.GetYears(), new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownList("Month", SelectListItemHelper.GetMonths(), new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-default btn-sm" id="c" type="button" onclick="GeneratePND1ReportPDF()"><i class='fa fa-download' aria-hidden='true'></i>&nbsp;Download</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

<script type="text/javascript">

    $(document).ready(function () {

        $('#li_yearlyreports').addClass('open');
        $('#li_yearly1').addClass('active');
    });
    function GeneratePND1ReportPDF() {
        location.href = '@Url.Content("~/YearlyReports/PrintPND1Report")' + '?year=' + $('#Year').val() + '&month=' + $('#Month').val();
    }
</script>

    }
